@page
@model TodoDemo.Pages.TodoList

@if (Model.StatusMessage != null)
{
    <p>@Model.StatusMessage</p>
}

@* @await Component.InvokeAsync("Stats", Model.UserId) *@

<vc:stats user-id="Model.UserId"/>

<form method="get" class="form-inline">
    <input type="text" name="filter" class="form-control" placeholder="search">
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<hr>

@nameof(TodoCreateOrEdit)
<a class="btn btn-primary" asp-page="@nameof(TodoCreateOrEdit)">Add Todo</a>

@foreach (var todo in Model.Todos)
{
    <partial name="_DisplayTodoItem" model=todo></partial>
}
<hr>
