@page
@model TodoDemo.Pages.TodoList

@if (Model.StatusMessage != null)
{
    <p>@Model.StatusMessage</p>
}

<ul>
    @foreach (var todo in Model.Todos)
    {
        <partial name="_DisplayTodoItem" model=todo></partial>
    }
</ul>

<form method="post">
    Description: <input asp-for="NewTodo.Description"> 
    <span asp-validation-for="NewTodo.Description"></span>
    <br>
    Done: <input asp-for="NewTodo.Done"><br>
    <button type="submit" asp-page-handler="add">Add Todo</button>
</form>